<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>G-Team Manager</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-brand">G-Team Manager</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav mr-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button"
                            data-toggle="dropdown"> Welcome {{request.user}}</a>
                    </li>
                    <a class="btn btn-outline-success" href="/logout">Logout</a>
                </ul>
            </div>
            {% else %}
            <a class="btn btn-outline-success" href="/login">Login</a>
            {% endif %}
        </div>
        </div>
    </nav>
    {%if messages %}
    {%for message in messages%}
    {%if message.tags %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endif%}
    {%endfor%}
    {%endif%}
    <div class="container my-4">
        <div class="row">
        <div class="col-md-4">
        <div class="row">
           <img src="{{team.img.url}}" width="200px" height="585px">
        </div>
            </div>
        <div class="col-md-4">
            <h1 class="display-3">{{team.teamname}}</h1>
            <div class="container my-3">
                <p class="display-6">Team ID: {{team.id}}</p>
            </div>
            <div class="container my-3">
                <p class="fw-bold card-text fs-6">Number of Batsman: {{team.batsmen}}</p>
                <p class="fw-bold card-text fs-6">Number of Bowler: {{team.bowler}}</p>
                <p class="fw-bold card-text fs-6">Number of Wicket-Keeper: {{team.wk}}</p>
            </div>
            <div class="container my-3">
                <a href="main/team/{{team.id}}/update" class="btn btn-outline-primary">Update</a>
                <a href="main/team/{{team.id}}/delete" class="btn btn-outline-danger">Delete</a>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="container my-3">
                <p class="fw-bold card-text fs-4">Team Players:</p>
                {% for i in player %}
                <p class="card-text fs-5">{{i}}</p>
                {% endfor %}
            </div>
            <div class="container my-3">
                <p class="fw-bold card-text fs-4">Coaches:</p>
                {% for i in coach %}
                <p class="card-text fs-5">{{i}}</p>
                {% endfor %}
            </div>
        </div>
</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>